[submodule "Hazel/Hazel/vendor/GLFW"]
	path = Hazel/Hazel/vendor/GLFW
url=git@github.com:AndrejLapin/cherno_glfw.git
[submodule "Hazel/Hazel/vendor/imgui"]
	path = Hazel/Hazel/vendor/imgui
	url = https://github.com/THeCherno/imgui
[submodule "Hazel/Hazel/vendor/glm"]
	path = Hazel/Hazel/vendor/glm
	url = https://github.com/g-truc/glm
[submodule "Hazel/Hazel/vendor/spdlog"]
	path = Hazel/Hazel/vendor/spdlog
	url = https://github.com/gabime/spdlog